<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Reading List</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>
    <a>Welcome, you are at home</a>
    <br />

    <a th:href="@{category/All}">All</a>
    <br />

    <a th:href="@{category/comedy}">Comedy</a>
    <br />

    <a th:href="@{category/fantasy}">Fantasy</a>
    <br />

    <a th:href="@{category/science}">Science</a>
    <br />

    <a th:href="@{category/drama}">Drama</a>
    <br />

    <a th:href="@{category/romance}">Romance</a>
    <br />
</body>
</html>
